:global(.icheckbox_square-blue) {

}
:global(.icheckbox_square-blue_input) {
  position: absolute;
  top: -20%;
  left: -20%;
  display: block;
  width: 140%;
  height: 140%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  opacity: 0;
  background: rgb(255, 255, 255);
}
:global(.iCheck-helper) {
  position: absolute; top: -20%;
  left: -20%;
  display: block; width: 140%;
  height: 140%; margin: 0px;
  padding: 0px;
  border: 0px;
  opacity: 0;
  background: rgb(255, 255, 255);
}
